.teilnehmerDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--background-modifier-border);
  padding: 2px;
  margin-bottom: 5px;
}

.addTeilnehmerButton {
  float: right;
  margin: 5px;
}

.addTeilnehmerButton:hover {
  background-color: #6437cc;
}

.addTeilnehmerModalSaveButton {
  float: right;
  margin: 5px;
}

.addTeilnehmerModalSaveButton:hover {
  background-color: #6437cc;
}

.addTeilnehmerModalInput {
  margin: 5px;
}

.addTeilnehmerModalInput:hover {
  background-color: #6437cc;
}

.combatViewUeberschriftenLayout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.combatViewUeberschriftenAttribute {
  text-align: center;
  font-size: 16px;
  font-weight: 800;
}

.teilnehmerViewLayoutCollectionDiv {
  border: 3px solid var(--background-modifier-border);
  padding: 3px;
}

.teilnehmerViewLayoutSingleRow {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.teilnehmerViewAttribute {
  border: 1px solid var(--background-modifier-border);
  margin: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

.highlight {
  background-color: #6437cc;
}

.teilnehmerViewAttributeInput {
  width: 80%;
  box-sizing: border-box;
}