.teilnehmerDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--background-modifier-border);
  padding: 2px;
  margin-bottom: 5px;
}

.addTeilnehmerButton {
  margin: 5px;
}